<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Page</h1>
    <p>Welcome Mr. <%= user.name %></p>
    <p>Age: <%= user.name %></p>
    <ul>
        <% user.skills.forEach((iteam)=>{  %>
            <li><%= iteam %></li>
        <% }) %>    
        
    </ul>
</body>
</html>